{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
{% endblock %}

{% block body %}
<body>
  <div class="d-flex flex-column">
    <div style="height: 100vh">
      <nav class="navbar shadow-lg sticky-top navbar-light overflow-hidden" style="background-color: #50403E!important; height:10vh;">
        <a class="navbar-brand mx-auto" href="#">
          <img src="https://i.imgur.com/nD0ZH1P.png" alt="" width="auto" height="40vh">
        </a>
      </nav>

      <div class="container" style="height: 80vh; display: flex; overflow: scroll; flex-direction: column; flex-grow: 1;">
        <div class="row row-cols-2">
          {% for i in range(10) %}
          
          <div class="col mt-3 d-flex">
            <!--<div class="card shadow text-center border-0 rounded justify-content-center align-items-center" style="background-color: #917B63!important; width:45vw; height:45vw;">
              <img src="https://img.icons8.com/cotton/50/000000/alcoholic-cocktail.png" style="width:35%" class="card-img-top mt-3 mb-3" alt="...">
              <div class="card-body rounded" style="background-color: #917B63!important;">
                <div class="card-text text-white align-middle"">Drink Name</div>
                <a href="#popup1" class="btn stretched-link"></a>
              </div>
            </div>-->
            <div class="container">
              <div class="row">
                  <div class="card shadow border-0 rounded justify-content-center align-items-center" style="background-color: #917B63!important; width:35vw; height:35vw;">
                    <img src="https://img.icons8.com/cotton/50/000000/alcoholic-cocktail.png" style="width:35%" class="card-img-top mt-3 mb-3" alt="...">
                  </div>
              </div>

              <div class="row text-center">
                  <p2 class="text-light">adios</p2>
              </div>
          </div>

          {% endfor %}
        </div>
      </div>

      <nav class="navbar fixed-bottom navbar-light overflow-hidden" style="background-color: #50403E!important; height:10vh;">
        <a class="navbar-brand mx-auto" href="#">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="bootstrap-icons.svg#heart-fill"/>
          </svg>
        </a>
      </nav>

      <div id="popup1" class="overlay">
        <div class="popup">
          <h2>Title</h2>
          <a class="close" href="#">×</a>
          <div class="content">
            Content
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
