{% extends 'base.html' %} 

{% block head %}
<title>6Shot | Profile</title>
{% endblock %} 

{% block nav %}
<li class="nav-item">
  <a class="nav-link" href="./employee_menu">Menu</a>
</li>
<li class="nav-item">
  <a class="nav-link active" aria-current="page">Profile</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="./employees">Employees</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="./ingredients">Ingredients</a>
</li>
<!-- <li class="nav-item">
    <a class="nav-link" href="./about">About</a>
</li> -->
<li class="nav-item">
  <a class="nav-link" href="./logout">Logout</a>
</li>
{% endblock %}

{% block body %}
<h1>Employee Profile</h1>
{% endblock %}