{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
{% endblock %}

{% block body %}
<div style="background-color:#C09D73">
  <div class="container">
    <div style="height: 100vh">
      <div class="row h-25"></div>
      <div class="row h-50">
        <div class="col">
          <div class="d-flex p-2 justify-content-center align-items-center">
            <div class="mb-md-4 mt-md-4">

              <h2 style="text-align: center;">
              <img src="https://i.imgur.com/nD0ZH1P.png" alt="" width="auto" height="40vh">
              </h2>
              <p class="text-center text-white text-50 mb-">welcome!</p>
              <div class="form-outline text-white form-white text-left mb-2">
                <input type="text" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">username</label>
              </div>

              <div class="form-outline text-white form-white text-left mb-2">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">password</label>
              </div>
              <form id="login-form" action="/dashboard" method="POST">
                <div class="form-outline form-white text-center mb-2">
                  <button class="btn btn-secondary btn-lg" type="submit">login</button>
                  <a href="/register" class="btn btn-secondary btn-lg" rol="button" >register</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="row h-25"></div>
    </div>
  </div>
</div>
{% endblock %}
