{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js%22%3E"</script>
{% endblock %}

{% block body %}
<div style="background-color:#C09D73">
  <div class="container">
    <div style="height: 100vh">
      <div class="row h-25"></div>
      <div class="row h-50">
        <div class="container">
                <form method="post">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addIngredientModal">Add Ingredient</button>
                    <!-- Modal -->
                    <div class="modal fade reveal-modal" id="addIngredientModal" tabindex="-1" role="dialog" aria-labelledby="newIngredientModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <!-- Modal content-->
                            <div class="modal-content" style="background-color: white; color: black;">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add Ingredient</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="InputName">Name</label>
                                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter name" />
                                    </div>
                                    <div class="form-group">
                                        <label for="InputAvailability">Availability</label>
                                        <select id="inputAvailability" name="inputAvailability">
                                            <option value="1">Available</option>
                                            <option value="0">Not Available</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="InputPump">Pump</label>
                                        <select id="inputPump" name="inputPump">
                                            <option value="-1">None</option>
                                            <option value="6">6</option>
                                            <option value="5">5</option>
                                            <option value="4">4</option>
                                            <option value="3">3</option>
                                            <option value="2">2</option>
                                            <option value="1">1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <form role="form" id="add-ingredient-form" action="/ingredients" method="POST">
                                        <button type="submit" class="btn btn-primary" name="add-ingredient" value="add_ingredient" id="add-ingredient-submit">Add Ingredient</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        <div class="col">
          <div class="d-flex p-2 justify-content-center align-items-center">
            <div class="mb-md-4 mt-md-4">
              <h2 style="text-align: center;">
                <img src="https://i.imgur.com/nD0ZH1P.png" alt="" width="auto" height="40vh">
              </h2>
              <p class="text-center text-white text-50 mb-">welcome!</p>
              <div class="form-outline text-white form-white text-left mb-2">
                <input type="text" id="typeEmailX" class="form-control form-control-lg" />
                <label class="form-label" for="typeEmailX">username</label>
              </div>

              <div class="form-outline text-white form-white text-left mb-2">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                <label class="form-label" for="typePasswordX">password</label>
              </div>
              <div class="text-center">
                <a href="/dashboard" class="btn btn-secondary btn-lg" rol="button">login</a>
                <a href="/register" class="btn btn-secondary btn-lg" rol="button">register</a>
              </div>
              <!--<form id="login-form" action="/dashboard" method="POST">
              <div class="form-outline form-white text-center mb-2">
              <button class="btn btn-secondary btn-lg" type="submit">login</button>
              <a href="/register" class="btn btn-secondary btn-lg" rol="button">register</a>
            </div>
          </form>-->
        </div>
      </div>
    </div>
  </div>
  <div class="row h-25"></div>
</div>
</div>
</div>
{% endblock %}
